@model Category

@{
	ViewData["Title"] = "Edit Category";
}

<div class="bg-body-tertiary">
	<div class="card p-3 mt-3 w-50 mx-auto bg-light shadow">
		<div class="card-body">
			<form asp-controller="Category" asp-action="Edit" method="post">
				<h3 class="card-title text-center">Edit Category</h3>
				<hr class="w-50 mx-auto mb-5" />
				<input type="hidden" asp-for="Id" />
				<div class="mb-3">
					<label asp-for="Name" class="form-label"></label>
					<input asp-for="Name" class="form-control" />
				</div>
				<div class="mb-3">
					<label asp-for="Description" class="form-label"></label>
					<textarea asp-for="Description" class="form-control" rows="3"></textarea>
				</div>
				<div class="d-grid col-6 mx-auto mb-3 mt-5">
					<button type="submit" class="btn btn-primary">Update Category</button>
					<a asp-action="Index" class="btn btn-secondary mt-2">Back to List</a>
				</div>
			</form>
		</div>
	</div>
</div>