<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/ProductInventoryApp.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/my-custom-css/main.css" />
</head>
<body>
	<div>
		<nav class="navbar navbar-expand-lg navbar-fixed-top bg-dark" data-bs-theme="dark">
			<div class="container-fluid">
				<a class="navbar-brand text-light">
					<img class="d-inline-block align-text-top me-2" width="28" src="~/assets/logo.png" /> Inventory Management
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-lg-0">
						@* <li class="nav-item"> *@
						@* 	<a class="nav-link text-light">Home</a> *@
						@* </li> *@
						@* <li class="nav-item"> *@
						@* 	<a class="nav-link text-light">Link</a> *@
						@* </li> *@
					</ul>
					<form class="d-flex" role="search">
						<div class="input-group me-3">
							<input class="form-control" type="search" placeholder="Search...">
							<button class="btn bg-primary" type="submit">
								<i class="bi bi-search text-light"></i>
							</button>
						</div>
					</form>
					<div class="dropdown position-static">
						<button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-person-fill"></i>
						</button>
						<ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
							<li><a class="dropdown-item" href="#">Settings</a></li>
							<li><a class="dropdown-item" href="#">Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<div class="layout-container">
			<div class="menu bg-dark">
				<nav class="navbar navbar-expand-lg pb-0">
					<div class="navbar-collapse d-flex flex-column justify-content-between">
						<div>
							<p class="text-secondary m-0 ms-3 mb-2 fw-bold">INVENTORY</p>
							<ul class="navbar-nav">
								<li class="nav-item left-nav-item ps-4 pe-5">
									<a class="nav-link text-light" asp-controller="Home" asp-action="Index">
										<i class="bi bi-speedometer me-1"></i> Dashboard
									</a>
								</li>
								<li class="nav-item left-nav-item ps-4 pe-5">
									<a class="nav-link text-light" asp-controller="Product" asp-action="Index">
										<i class="bi bi-card-list me-1"></i> All Products
									</a>
								</li>
								<li class="nav-item left-nav-item ps-4 pe-5">
									<a class="nav-link text-light" asp-controller="Product" asp-action="Create">
										<i class="bi bi-file-earmark-plus-fill me-1"></i> Add Product
									</a>
								</li>
							</ul>
							<p class="text-secondary m-0 ms-3 mt-4 mb-2 fw-bold">SALES</p>
							<ul class="navbar-nav">
								<li class="nav-item left-nav-item ps-4 pe-5">
									<a class="nav-link text-light" asp-controller="Product" asp-action="Index">
										<i class="bi bi-receipt me-1"></i> All Sales
									</a>
								</li>
								<li class="nav-item left-nav-item ps-4 pe-5">
									<a class="nav-link text-light" asp-controller="Product" asp-action="Create">
										<i class="bi bi-cart-plus-fill me-1"></i> Create New Sale
									</a>
								</li>
							</ul>
							<p class="text-secondary m-0 ms-3 mt-4 mb-2 fw-bold">PURCHASES</p>
							<ul class="navbar-nav">
								<li class="nav-item left-nav-item ps-4 pe-5">
									<a class="nav-link text-light" asp-controller="Product" asp-action="Index">
										<i class="bi bi-bag-check-fill me-1"></i> All Purchases
									</a>
								</li>
								<li class="nav-item left-nav-item ps-4 pe-5">
									<a class="nav-link text-light" asp-controller="Product" asp-action="Create">
										<i class="bi bi-bag-plus-fill me-1"></i> New Purchases
									</a>
								</li>
							</ul>
							<p class="text-secondary m-0 ms-3 mt-4 mb-2 fw-bold">REPORT</p>
							<ul class="navbar-nav">
								<li class="nav-item left-nav-item ps-4 pe-5">
									<a class="nav-link text-light" asp-controller="Product" asp-action="Index">
										<i class="bi bi-graph-up me-1"></i> Reports
									</a>
								</li>
							</ul>
						</div>
						<div class="bg-secondary w-100 py-2 text-light">
							<small class="ms-3 d-block">
								<i class="bi bi-code-slash">&nbsp;Developed by</i>
							</small>
							<p class="mb-0"><i class="bi bi-person-fill-check ms-3"></i> Dabananda Mitra</p>
						</div>
					</div>
				</nav>
			</div>
			<div class="content-wrapper">
				@* <main role="main"> *@
					@RenderBody()
				@* </main> *@
			</div>
		</div>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/my-custom-js/left-nav-link-hover.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
